body{
    background: white url("images/background.png") no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: 30%;
    height: 500px;
    /*border-top: 10px solid #ccc;*/
}

title{
    color: #c80;
    font-weight: bold;
}

li a{
    color: green;
    font-size: 18px;
}